version: '{build}'
os: Visual Studio 2019
branches:
  only:
  - master
environment:
  BUILDING_ON_PLATFORM: win
  BuildEnvironment: appveyor
skip_commits:
  files:
    - LICENSE
install:
- git submodule update --init
- dotnet build -c Release src/SkyApm.Transport.Grpc.Protocol 
build_script:
- ps: ./scripts/build.ps1
artifacts:
- path: artifacts/packages/*.nupkg
deploy:
- provider: NuGet
  server: https://www.myget.org/F/skyapm-dotnet/api/v2/package
  api_key:
    secure: y93uJrdiEYaeVTFxeCduQSlCussOUF4UztOyhkxyZxFnIco73J/K2rdA2QShoEuh
  skip_symbols: true
  artifact: /artifacts\/packages\/.+\.nupkg/
  on:
    branch: master
- provider: NuGet
  server: https://www.myget.org/F/skyapm-dotnet/api/v2/package
  api_key:
    secure: y93uJrdiEYaeVTFxeCduQSlCussOUF4UztOyhkxyZxFnIco73J/K2rdA2QShoEuh
  skip_symbols: true
  artifact: /artifacts\/packages\/.+\.nupkg/
  on:
    appveyor_repo_tag: true
- provider: NuGet
  api_key:
    secure: mTm1mzAZsPVpicpuj+Ji1PyJLoCwb3OXRWIR7yUW0p7f3y8FbH10Cj60AEkqF0MK
  skip_symbols: true
  artifact: /artifacts\/packages\/.+\.nupkg/
  on:
    appveyor_repo_tag: true
